.container {
    width: inherit;
    height: inherit;
    display: grid;
    margin: 150px;
}

.loginArea {
    width: 400px;
    height: 500px;
    border: 1px solid #CECACE;
    margin: auto;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "STHeiti";
}


.logo {
    background-color: #82ac9f;
    width: 90px;
    height: 60px;
    margin: 30px 0px 15px 0px;
}

.logo>img {
    width: inherit;
    object-fit: cover;
}

.string {
    line-height: 1;
    margin: 0px 0px 20px 0px;
}

.string>h2 {
    /* padding: 0px; */
    margin: 0 0 15px 0;
    text-align: center;
    font-size: 25px;
}

.string>h3 {
    margin: 0 0 20px 0;
    text-align: center;
    font-size: 15px;
}

.emailInput {
    font-size: 17px;
    width: 300px;
    height: 50px;
    margin: 0 0 -10px 0;
    color: #817774;
    border: 1px solid;
    border-color: #CECACE;
    border-radius: 5px;
}

:focus-within .emailInput {
    border-color: #1e96fc;
    border-width: 2px;
}

.passwordInput {
    font-size: 17px;
    width: 300px;
    height: 50px;
    color: #817774;
    border: 1px solid;
    border-color: #CECACE;
    border-radius: 5px;
}

.forget {
    text-decoration: none;
    color: #1e96fc;
    margin: 0 0 0 -10px;
    padding: 5px 150px 10px 0px;
}

.string2 {
    color: #495057;
    padding: 35px 25px 45px 44px;
}

.know {
    text-decoration: none;
    color: #1e96fc;
}

.create {
    margin: 0 0 0 44px;
    text-decoration: none;
    color: #1e96fc;
}

.continue {
    background-color: #1e96fc;
    font-size: 15px;
    border: none;
    color: white;
    width: 70px;
    height: 30px;
    border-radius: 5px;
    margin: 0 40px 0 0;
}

.click1 {
    display: flex;
    width: inherit;
    justify-content: space-between;
}

.click2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
    margin: auto;
}

.list {
    border: none;
    margin: 20px 0 0 0;
}

.btn {
    margin: 20px 0 0 0;
    width: 180px;
    display: flex;
    justify-content: space-between;
}

.btn>button {
    border: none;
    background-color: #fff;
    color: #495057;
    font-weight: bold;
}

/* .formInfo {
    display: flex;
    flex-direction: row;
    position: relative;
} */

.float {
    display: flex;
    flex-direction: column;
    position: relative;
}

.float label {
    color: #999;
    flex-direction: column;
    position: absolute;
    transform: translate(15px, 21px) scale(1);
    transform-origin: top left;
    transition: all 0.2s ease-out;
}

.float .active {
    /* width: 180px;
    height: 16px; */
    background-color: white;
    transform: translate(10px, -8px) scale(0.95);
    color: #1e96fc;
}

.float:focus-within label {
    /* width: 180px;
    height: 16px; */
    background-color: white;
    transform: translate(10px, -8px) scale(0.95);
    color: #1e96fc;
    /* border-color: #1e96fc;
    border-width: 5px; */
}

/* .emailInput:focus-within {
    border-color: #1e96fc
} */