.container {
    width: inherit;
    height: inherit;
    display: grid;
    margin: 150px;
}

.loginArea {
    width: 400px;
    height: 500px;
    border: 1px solid  #CECACE;
    margin: auto;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "STHeiti";
}


.logo {
    background-color: #82ac9f;
    width: 90px;
    height: 60px;
    margin: 0px 0px 10px 0px;
}

.logo > img {
    width: inherit;
    object-fit: cover;
}

.string {
    line-height: 1;
    margin: 0px 0px 20px 0px;
}

.string > h2 {
    /* padding: 0px; */
    text-align: center;
    font-size: 25px;
}

.string > h3 {
    text-align: center;
    font-size: 15px;
}

.emailInput {
    font-size: 17px;
    width: 300px;
    height: 50px;
    color: #817774;
    border: 1px solid;
    border-color: #CECACE;
    border-radius: 5px;
}

.forget {
    text-decoration: none;
    color: #1e96fc;
    padding: 5px 150px 10px 0px;
}

.string2 {
    color: #495057;
    padding: 40px 25px 30px 25px;
}

.know {
    text-decoration: none;
    color: #1e96fc;
}

.create {
    text-decoration: none;
    color: #1e96fc;
}

.continue {
    background-color: #1e96fc;
    font-size: 15px;
    border: none;
    color: white;
    width: 70px;
    height: 30px;
    border-radius: 5px;
}

.click1 {
    display: flex;
    width: inherit;
    justify-content:space-around ;
}

.click2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 400px;
    margin: auto;
}

.list {
    border: none; 
}

.btn > button {
    border: none;
    background-color: #fff;
    color: #495057;

}